<!DOCTYPE html>
<html>
  <head>
    <title>MM.</title>
<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhfiN59ILLN4QtqUbDFZUqqBKzw7vrHZm12nekbxdA9GQHIK72Lg&s" type="image/x-icon" />
<link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhfiN59ILLN4QtqUbDFZUqqBKzw7vrHZm12nekbxdA9GQHIK72Lg&s" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="refresh" content="10">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= render partial: 'shared/navigation_bar' %>
          <div class="my-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>